html(lang=en)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= "ByteFroot | Bytely Soft Services"
    link(rel="stylesheet", href="/stylesheets/home.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap")
  body
    script.
      0

    header.navbar
      .container
        .logo-container
          a(href="/" class="logo")
            img(src="/images/drawing.svg" width="28" height="28")
        .non-logo-container
          .inner-non-logo-container
            nav.nav-links
              ul
                li: a(href="/sara") SARA
                li: a(href="/replicant") Replicant
                li: a(href="/cyberdeck") Cyberdeck
                li: a(href="/contact") Contact

    main.content
      h1 ByteFroot

    footer
      p &copy; #{new Date().getFullYear()} ByteFroot. All rights reserved.
